.body {
    background-image: url("/src/styles/img/fondo-bosque.webp");
    background-size: cover;
    height:100vh;
    display:flex;
    flex-direction: column;
  }

  h1{
    text-align: center;
    font-family: 'Cursive', serif;
    font-size: 5rem;
    color: #644f2b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    letter-spacing: 2px;
    border-bottom: 3px solid #4caf50;
    padding-bottom: 10px;
  }

  .list-container {
    background-color: #fffbea;
    background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 24px,
    #dcdcdc 25px
    );
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 50px auto;
    font-size: 25px;
    line-height: 1.4;
    font-family: 'Cursive', serif;
  }

  .delete-button {
    background: none;
    border: none;
    color: #ff6b6b;
    font-size: 16px;
    cursor: pointer;
  }

  .delete-button:hover {
    color: #ff0000;
  }

  .completed {
    text-decoration: line-through;
    color: #4caf50;
  }